*{
  text-align: center;
  font-size: 14px;
}

html{
  background-color: #d2ecfc;
}

body{
  width: 640px;
  margin: auto;
}

h1{
  font-size: 48px;
}

img{
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

p{
  font-size: 1.5rem;
}